<div class="h-90vh" style="margin-top:18px">
  <div id="research-bar" class="flexbox-space-between">
    <div class="research-bar-box">
      <p>Filter by:</p>
    </div>
    <div class="research-bar-box">
      <p>Audience Level
        <%= link_to atlas_path(level: 1, dashboard: @is_dashboard), id:"rocket-1" do %>
          <i class="fa fa-rocket <% if params["level"].to_i == 1 || params["level"].to_i == 2 || params["level"].to_i == 3 || params["level"].to_i == 4 %>color-wavestone<% else %> color-grey <% end %>" aria-hidden="true" id="level-1"></i>
        <% end %>
        <%= link_to atlas_path(level: 2, dashboard: @is_dashboard), id:"rocket-2" do %>
          <i class="fa fa-rocket <% if params["level"].to_i == 2 || params["level"].to_i == 3 || params["level"].to_i == 4 %>color-wavestone<% else %> color-grey <% end %>" aria-hidden="true" id="level-2"></i>
        <% end %>
        <%= link_to atlas_path(level: 3, dashboard: @is_dashboard), id:"rocket-3" do %>
          <i class="fa fa-rocket <% if params["level"].to_i == 3 || params["level"].to_i == 4 %>color-wavestone<% else %> color-grey <% end %>" aria-hidden="true" id="level-1"></i>
        <% end %>
        <%= link_to atlas_path(level: 4, dashboard: @is_dashboard), id:"rocket-4" do %>
          <i class="fa fa-rocket <% if params["level"].to_i == 4 %>color-wavestone<% else %> color-grey <% end %>" aria-hidden="true" id="level-2"></i>
        <% end %>
      </p>
    </div>
    <div class="research-bar-box">
      <p>Dashboard
        <%= link_to atlas_path(dashboard: true, level: @level_nb) do %>
          <span class="ml-10px <% if @is_dashboard == "true" %>color-wavestone <% else %>color-grey<% end %>"><i class="fa fa-check" aria-hidden="true"></i></span>
        <% end %>
        <%= link_to atlas_path(dashboard: nil, level: @level_nb) do %>
          <span class="<% if @is_dashboard.nil? %>color-wavestone <% else %>color-grey<% end %>"><i class="fa fa-times" aria-hidden="true"></i></span>
        <% end %>
      </p>
    </div>
    <div class="research-bar-box">
      <%= text_field_tag 'search_name', @name_search %>
      <a id="search-name" class="pointer"><i class="fa fa-search color-grey" aria-hidden="true"></i></a>
    </div>
    <div class="research-bar-box txt-right">
      <%= link_to atlas_path do %>
        <span class="clear-filter">Clear filters <i class="fa fa-times ml-10px" aria-hidden="true"></i></span>
      <% end %>
    </div>
  </div>

  <% if research_results != nil && !@name_search.nil? && @results.length == 0 %>
    <div class="txt-center mt-50px">
      <p>Ooops! We couldn't find a graph named "<%= @name_search %>"</p>
      <img src="https://media.giphy.com/media/3oGRFkmoqoui9nzL2g/giphy.gif" alt="" style="width:32%">
    </div>
  <% end %>
  <% if research_results != nil %>
  <div class="flexbox-wrap-space-between" id="research-results">
  <% research_results.each do |result| %>
    <% if !@is_first_question %>
      <% result = result.first %>
    <% end %>
        <div class="card-graph">
          <%= link_to atlas_path(graph_number: result[0] ) do %>
          <div class="img-card-graph position-rel h-140px">
            <div class="img-content" style="background-image:url('<%= result[1]["image"]%>')">
            </div>
          </div>
          <div class="description-card-graph">
            <h4 class="color-wavestone no-underline no-mt mb-5px fs-18px"><%= result[1]["name"] %></h4>
            <div class="">
              <p class="color-grey no-mb">Audience level
                <% if result[1]["level"] == "beginner" %><span class="ml-10px"><i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i></span><% end %>
                <% if result[1]["level"] == "intermediate" %><span class="ml-10px"><i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i></span><% end %>
                <% if result[1]["level"] == "advanced" %><span class="ml-10px"><i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i> <i class="fa fa-rocket color-grey" aria-hidden="true"></i></span><% end %>
                <% if result[1]["level"] == "expert" %><span class="ml-10px"><i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-wavestone" aria-hidden="true"></i> <i class="fa fa-rocket color-wavestone" aria-hidden="true"></i></span><% end %>
              </p>
              <p class="color-grey no-mt no-mb">Dashboard <span class="dashboard ml-10px"><i class="fa fa-tachometer <% if  result[1]["dashboard"] == true %> color-wavestone <% else %> color-grey <% end %>" aria-hidden="true"></i></span></p>
            </div>

          </div>
          <% end %>
        </div>






  <% end %>
  </div>
<% end %>
</div>


