<div class="row pt-40px"></div>
<div class="graph-show">
  <div class="bc-white" style="margin-top:25px;margin-bottom:50px;box-shadow: 1px 1px 3px #E7E5E5;padding:65px 90px">
    <h1 class="fs-50px no-mt color-wavestone txt-center" style="margin-bottom:40px;font-size:43px"><%= @content["title"] %></h1>
    <p style="font-size:14px;text-align:justify">
    <%= @content["content"].html_safe %>

    </p>
    <h1 class="fs-50px color-wavestone txt-center" style="margin-bottom:40px;font-size:43px;margin-top:80px">The team</h1>
    <div class="row">
      <% @content["team"].each do |member| %>
        <div class="col-xs-4">
          <img src="<%= member["photo_url"] %>" alt="" style="width:100%">
        </div>
        <div class="col-xs-8">
          <h4 class="color-wavestone"><%= member["name"] %> </h4>
          <p style="font-size:14px"><%= member["description"].html_safe %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
