<h1 class="hidden">Data Visualisation</h1>

<div class="col-xs-4">
<h2>Les question</h2>
1. <%= @main_question %>
<%= link_to root_path(question_id: 0) do %>
    Retry
  <% end %>


<% if @is_first_question %>
  <% @first_children.each do |child| %>
    <%= link_to root_path(question_id: child["question_id"]) do %>
      <br>--> <%= child["question"] %>
    <% end %>
  <% end %>
<% end %>
<br>


<% if @is_second_question %>
  <br> <%= @second_question %>
  <%= link_to root_path(question_id: 0) do %>
    X
  <% end %>
  <br><br>
  <% @second_children.each do |child| %>
    <%= link_to root_path(question_id: child["question_id"]) do %>
      <br>--> <%= child["question"]  %>
    <% end %>
  <% end %>
<% end %>


<% if @is_third_question %>
  <br> <%= @first_question %>
  <%= link_to root_path(question_id: 0) do %>
    X
  <% end %>
  <br> <%= @second_question %>
  <%= link_to root_path(question_id: @number_first_question) do %>
    X
  <% end %>
  <br><br>

  <% if @next_graph %>
    <% @second_children.each do |child| %>
      <%= link_to root_path(question_id: child["question_id"]) do %>
        <br>--> <%= child["label"] %>
      <% end %>
    <% end %>
  <% else %>
    <% @second_children.each do |child| %>
      <%= link_to root_path(question_id: child["question_id"]) do %>
        <br>--> <%= child["question"] %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if @is_fourth_question %>
  <br> <%= @first_question %>
  <%= link_to root_path(question_id: 0) do %>
    X
  <% end %>
  <br> <%= @second_question %>
  <%= link_to root_path(question_id: @number_first_question, graph:false) do %>
    X
  <% end %>
  <br> <%= @third_question %>
  <%= link_to root_path(question_id: @number_first_question * 100 + @number_second_question * 10 + @number_third_question, graph: false) do %>
    X
  <% end %>
  <br><br>
  <% @third_children.each do |child| %>
    <% if child["graph"] == true %>
      <%= link_to root_path(question_id: child["question_id"], graph: true) do %>
        <br>--> <%= child["label"] %>
      <% end %>
    <% else %>
      <%= link_to root_path(question_id: child["question_id"], graph: true) do %>
        <br>--> <%= child["question"] %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if @is_five_question %>
  <br> <%= @first_question %>
  <%= link_to root_path(question_id: 0) do %>
    X
  <% end %>
  <br> <%= @second_question %>
  <%= link_to root_path(question_id: @number_first_question, graph:false) do %>
    X
  <% end %>
  <br> <%= @third_question %>
  <%= link_to root_path(question_id: @number_first_question * 10 + @number_second_question, graph: false) do %>
    X
  <% end %>
  <br> <%= @last_question %>
  <%= link_to root_path(question_id: @number_first_question * 100 + @number_second_question * 10 + @number_third_question, graph: false) do %>
    X
  <% end %>
  <br><br>
  <% if params[:graph] == false %>
    <% @fourth_children.each do |child| %>
      <% if child["graph"] == true %>
        <%= link_to root_path(question_id: child["question_id"], graph: true) do %>
          <br>--> <%= child["label"] %>
        <% end %>
      <% else %>
        <%= link_to root_path(question_id: child["question_id"], graph: true) do %>
          <br>--> <%= child["question"] %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>

<%= render 'shared/results', results: @results %>




