<h1>Data Visualisation</h1>

<div class="col-xs-4">
<h2>Les question</h2>
1. <%= @main_question %>
<%= link_to root_path(question_id: 0) do %>
    X
  <% end %>


<% if @is_first_question %>
  <% @first_children.each do |child| %>
    <%= link_to root_path(question_id: child["question_id"]) do %>
      <br>--> <%= child["question"] %>
    <% end %>
  <% end %>
<% end %>
<br>


<% if @is_second_question %>
  <br> <%= @second_question %>
  <%= link_to root_path(question_id: 0) do %>
    X
  <% end %>
  <br><br>
  <% @second_children.each do |child| %>
    <%= link_to root_path(question_id: child["question_id"]) do %>
      <br>--> <%= child["question"] %>
    <% end %>
  <% end %>
<% end %>


<% if @is_third_question %>
  <br> <%= @first_question %>
  <%= link_to root_path(question_id: 0) do %>
    X
  <% end %>
  <br> <%= @second_question %>
  <%= link_to root_path(question_id: @number_first_question) do %>
    X
  <% end %>
  <br><br>
  <% @second_children.each do |child| %>
    <%= link_to root_path(question_id: child["question_id"]) do %>
      <br>--> <%= child["question"] %>
    <% end %>
  <% end %>
<% end %>

<% if @is_fourth_question %>
  <br> <%= @first_question %>
  <%= link_to root_path(question_id: 0) do %>
    X
  <% end %>
  <br> <%= @second_question %>
  <%= link_to root_path(question_id: @number_first_question, graph:false) do %>
    X
  <% end %>
  <br> <%= @third_question %>
  <%= link_to root_path(question_id: @number_second_question, graph: false) do %>
    X
  <% end %>
  <br><br>
  <% @third_children.each do |child| %>
    <% if child["graph"] == true %>
      <%= link_to root_path(question_id: child["question_id"], graph: true) do %>
        <br>--> <%= child["label"] %>
      <% end %>
    <% else %>
      <%= link_to root_path(question_id: child["question_id"], graph: true) do %>
        <br>--> <%= child["question"] %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if @is_five_question %>
  <br> <%= @first_question %>
  <%= link_to root_path(question_id: 0) do %>
    X
  <% end %>
  <br> <%= @second_question %>
  <%= link_to root_path(question_id: @number_first_question, graph:false) do %>
    X
  <% end %>
  <br> <%= @third_question %>
  <%= link_to root_path(question_id: @number_second_question, graph: false) do %>
    X
  <% end %>
  <br> <%= @fourth_question %>
  <%= link_to root_path(question_id: @number_third_question, graph: false) do %>
    X
  <% end %>
  <br><br>
  <% if params[:graph] == false %>
    <% @fourth_children.each do |child| %>
      <% if child["graph"] == true %>
        <%= link_to root_path(question_id: child["question_id"], graph: true) do %>
          <br>--> <%= child["label"] %>
        <% end %>
      <% else %>
        <%= link_to root_path(question_id: child["question_id"], graph: true) do %>
          <br>--> <%= child["question"] %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>


<div class="col-xs-8">
  <h2>Les résultats
  <% if @next_graph == true %>
    <span style="font-size:18px">(<%= @number_of_results %> résultats)</span>
  </h2>
  <br>
  <% @results.each do |result| %>
    <div class="col-xs-4">
      <img src="<%= result[1]["image"]%>" alt="" style="width:100%">
    </div>
    <div class="col-xs-8">
      <h4><%= result[1]["name"] %></h4>
      <p><b>level : </b><%= result[1]["level"] %>
      <br><b>dashboard : </b><%= result[1]["dashboard"] %>
      <br><b>reading principle : </b>
        <% result[1]["reading_principle"].each do |rp| %>
          <br> --><%= rp[1] %>
        <% end %>
      <br><b>advantages : </b>
        <% result[1]["advantages"].each do |ad| %>
          <br> --><%= ad[1] %>
        <% end %>
      <br><b>disavantages : </b>
        <% result[1]["disadvantages"].each do |disad| %>
          <br> --><%= disad[1] %>
        <% end %>
      <br><b>comparaison : </b>
      <% result[2].each do |comp| %>
        <%= comp[1] %>
      <% end %>
      </p>
    </div>
  <% end %>
<% end %>
</div>

